doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' , href="/css/daily.css")
        title Document
    body
        div#header
            a(href="/main") Home
            h1 제목 : #{daily.title}
        img(src=`${daily.photo}`)
        div#content #{daily.content}